.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
  gap: 1.5rem;
}

.snackbar {
  position: fixed;
  right: 64px;
}

.stats {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.hidden {
  display: none;
}
